<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
	<item id="name">Kiểm tra quyền tập tin</item>
	<item id="version">1.0.1</item>
	<item id="author">Monkey</item>
	<item id="date">2008-6-16</item>
	<item id="lastmodified">2021-5-20</item>
	<item id="copyright">Comsenz All</item>
	<item id="tabindex">2</item>
	<item id="tips">Kiểm tra xem tập tin UCenter đã được sửa đổi chưa.</item>
	<item id="lang">
		<item id="plugin_filecheck_modifed">Tập tin đã sửa</item>
		<item id="plugin_filecheck_deleted">Tập tin đã xóa</item>
		<item id="plugin_filecheck_unknow">Tập tin không xác định</item>
		<item id="plugin_filecheck_modifed_in_aweek">Cập nhật trong vòng một tuần</item>
	</item>
</root>